# ==========================================
# Archivos de Seguridad y Credenciales
# ==========================================
.env
*.pem
*.key

# ==========================================
# Caché y Precompilados de Python
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ==========================================
# Entornos Virtuales
# ==========================================
venv/
env/
.venv/

# ==========================================
# Archivos del Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# Carpetas de IDEs y Editores de Código
# ==========================================
.vscode/
.idea/
*.swp

# ==========================================
# Logs y Archivos Temporales
# ==========================================
*.log
app.log